.navbar-inverse {
    background-color: #F0F0F0 ;
    border-color: #080808;
}

.navbar-inverse .navbar-brand{
    color : black ;
    font-family: poiret ;
}

.navbar-brand > img {
    display: inline-block ;
    width: 50px ;
    height: 50px ;
}

.navbar{
    min-height: 120px;
}

.navbar-fixed-top{
    position: relative;
}

.navbar-nav{
    padding-top: 65px;
    float: right;
}

.navbar-brand{
    padding: 30px 15px;
}

.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}




.demo-3 {
    position:relative;
    overflow:hidden;
    width: inherit;
    height: inherit;
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10 
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    min-width:100%;
    min-height:auto;
    background-color:rgba(73, 118, 148, 0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption img,figure.hover figcaption img{
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}