   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img  src="../assets/logos/logo_transparent.png">Vasileiou Pharmacy</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <!--
            <div class="col-md-3">
                <p class="lead">Welcome to Vasileiou Pharmacy</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
        -->
            <div class="col-md-12">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
                <div class="row">
                    <div class="col-md-3">
                            <div class="thumbnail">
                                <div class="demo-3">
                                    <figure>
                                    <img src="http://lefkadapress.gr/wp-content/uploads/2014/12/image002-600x330.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                                <img src="http://lefkadapress.gr/wp-content/uploads/2014/12/image002-600x330.jpg" alt="" class="img-responsive">
                                        </figcaption>
                                    </figure>
                                </div>
                            <div class="caption">
                                <h4 class="pull-right">$700.99</h4>
                                <h4><a href="#">Mobile Product</a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                            <div class="ratings">
                                <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                    (15 reviews)
                                </p>
                            </div>
                            <div class="space-ten"></div>
                            <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                            </div>
                            <div class="space-ten"></div>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="thumbnail">
                                <div class="demo-3">
                                    <figure>
                                    <img src="http://lefkadapress.gr/wp-content/uploads/2014/12/image002-600x330.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                                <img src="http://lefkadapress.gr/wp-content/uploads/2014/12/image002-600x330.jpg" alt="" class="img-responsive">
                                        </figcaption>
                                    </figure>
                                </div>
                            <div class="caption">
                                <h4 class="pull-right">$700.99</h4>
                                <h4><a href="#">Mobile Product</a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                            <div class="ratings">
                                <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                    (15 reviews)
                                </p>
                            </div>
                            <div class="space-ten"></div>
                            <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                            </div>
                            <div class="space-ten"></div>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="thumbnail">
                                <div class="demo-3">
                                    <figure>
                                    <img src="http://lefkadapress.gr/wp-content/uploads/2014/12/image002-600x330.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                                <img src="http://lefkadapress.gr/wp-content/uploads/2014/12/image002-600x330.jpg" alt="" class="img-responsive">
                                        </figcaption>
                                    </figure>
                                </div>
                            <div class="caption">
                                <h4 class="pull-right">$700.99</h4>
                                <h4><a href="#">Mobile Product</a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                            <div class="ratings">
                                <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                    (15 reviews)
                                </p>
                            </div>
                            <div class="space-ten"></div>
                            <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                            </div>
                            <div class="space-ten"></div>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="thumbnail">
                                <div class="demo-3">
                                    <figure>
                                    <img src="http://lefkadapress.gr/wp-content/uploads/2014/12/image002-600x330.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                                <img src="http://lefkadapress.gr/wp-content/uploads/2014/12/image002-600x330.jpg" alt="" class="img-responsive">
                                        </figcaption>
                                    </figure>
                                </div>
                            <div class="caption">
                                <h4 class="pull-right">$700.99</h4>
                                <h4><a href="#">Mobile Product</a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                            <div class="ratings">
                                <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                    (15 reviews)
                                </p>
                            </div>
                            <div class="space-ten"></div>
                            <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                            </div>
                            <div class="space-ten"></div>
                            </div>
                    </div>
                    <div class="modal fade product_view" id="product_view">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                    <h3 class="modal-title">HTML5 is a markup language</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6 product_img">
                                            <img src="http://a.scdn.gr/images/sku_main_images/010648/10648330/20170113142634_korres_set_mayri_peyki_serum_krema_nychtas.jpeg" class="img-responsive">
                                        </div>
                                        <div class="col-md-6 product_content">
                                            <h4>Product Id: <span>51526</span></h4>
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                (10 reviews)
                                            </div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <h3 class="cost"><span class="glyphicon glyphicon-usd"></span> 75.00 <small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> 60.00</small></h3>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <select class="form-control" name="select">
                                                        <option value="" selected="">Color</option>
                                                        <option value="black">Black</option>
                                                        <option value="white">White</option>
                                                        <option value="gold">Gold</option>
                                                        <option value="rose gold">Rose Gold</option>
                                                    </select>
                                                </div>
                                                <!-- end col -->
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <select class="form-control" name="select">
                                                        <option value="">Capacity</option>
                                                        <option value="">16GB</option>
                                                        <option value="">32GB</option>
                                                        <option value="">64GB</option>
                                                        <option value="">128GB</option>
                                                    </select>
                                                </div>
                                                <!-- end col -->
                                                <div class="col-md-4 col-sm-12">
                                                    <select class="form-control" name="select">
                                                        <option value="" selected="">QTY</option>
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                        <option value="">3</option>
                                                    </select>
                                                </div>
                                                <!-- end col -->
                                            </div>
                                            <div class="space-ten"></div>
                                            <div class="btn-ground">
                                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

    </div>
    <!-- /.container -->

    <div class="container">
        <app-prod-view></app-prod-view>
    </div>

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Vasileiou Pharmacy 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
